extends layout

block content
  .jumbotron.container-fluid#index-container
    .col-md-3
      img.img-responsive(src="/images/birdwatch.png")
    .col-md-9
      h1= title
      p Welcome to #{title}
