.container
	nav.navbar.navbar-inverse
		.container-fluid
			.navbar-header
				a.navbar-brand(href='/') #{title}
			ul.nav.navbar-nav
				li
					a(href='/gallery') Gallery
				li
					a(href='/takepicture') Take picture
				li
					if isWatcherActive
						button.btn.btn-success.navbar-btn#sensorButton(type="button") Toggle Sensors
					else
						button.btn.btn-danger.navbar-btn#sensorButton(type="button") Toggle Sensors
			ul.nav.navbar-nav.navbar-right
				li
					button.btn.btn-link.navbar-btn#shutDown(type="button") Shutdown